{{ attach_library('guest_invite/guest-invite-form-css') }}
<div class="guest-invite-wrapper">
	<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="guest-invite-message"></div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <p class="form-row">{{ form.invite_email }}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<p class="form-row">{{ form.invite_message }}</p>
		</div>                                             
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<p class="form-row">{{ form.actions }}</p>
		</div>                                             
	</div>
</div>
  
{{ form|without('invite_email', 'invite_message', 'actions') }}
